<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>j2eeProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>serveletClass.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New</display-name>
    <servlet-name>New</servlet-name>
    <servlet-class>serveletClass.New</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New</servlet-name>
    <url-pattern>/New</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>serveletClass.New</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Haroi</display-name>
    <servlet-name>Haroi</servlet-name>
    <servlet-class>serveletClass.Haroi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Haroi</servlet-name>
    <url-pattern>/Haroi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hari</display-name>
    <servlet-name>Hari</servlet-name>
    <servlet-class>serveletClass.HariMani</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hari</servlet-name>
    <url-pattern>/Hari</url-pattern>
  </servlet-mapping>
</web-app>